body {
    padding: 10px;
    background-image: url(images/ilona-frey-EC92VYoYwC4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-position: center ;

}
h1 {
    text-align: center;
    font-size: 48px;
    color: #FFF;
}
h2 {
    text-align: center;
}

h3 {
    font-size: 36px;
    text-align: center;
}

button {
    border: none;
    background: none;
    margin-right: 10px;
}

img {
    margin: 0;
}
.container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #C21010;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: 60px;
}

.card {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    width: 120px;
    border-radius: 10px;
    margin: 10px;
}

.christmasHeader {
    color: #DC3535;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Staatliches', cursive;
}


@media all and (max-width: 1200px) {
    .container {
        padding-bottom: 300px;
    }
}

@media all and(max-width: 600px){

.card {
    width: 100px
}

h1 {
    font-size: 36px;
}

.christmasHeader {
    font-size: 36px;
}

.container {
    padding-bottom: 0;
}
}
